header{
    background-color: rgb(53, 58, 64);
};
.bg-image1{
    background-image: url('./img/ba1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh
}
.bsoctubre{
    background-color: dimgray; 
};

.trasnparente{
    background-color: transparent;
};
.sinSub{
text-decoration: none;
};
